.employee-login-container{
    display: flex;
    justify-content: space-evenly;
}

.manager-login-container{
    display: flex;
    justify-content: space-evenly;
}

#login-form{
    border-radius: 8px;
    margin-top: 150px;
    width:  500px; 
    background-color: rgb(79, 96, 138); 
    padding: 15px
    
}
#login-form2{
    border-radius: 8px;
    margin-top: 150px;
    width:  500px; 
    background-color: rgb(79, 96, 138); 
    padding: 15px
    
}

#login-form div{
    margin: 10px;
}

#login-form2 div{
    margin: 10px;
}

#username, #password, #login-btn{
    width: 100%;
}

#username2, #password2, #login-btn2{
    width: 100%;
}

#login-btn{
    background-color: rgb(30, 28, 61);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#login-btn2{
    background-color: rgb(30, 28, 61);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#login-btn:hover{
    background-color: rgb(5, 4, 20);
}

#login-btn2:hover{
    background-color: rgb(5, 4, 20);
}

body{
    background-color: rgb(7, 72, 109);
}